html {
    background-color: #014076;
    background-repeat: repeat;
}

body {
    background-color: #F1FAEE;
    width: 90%;
    margin-top: 3em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
   /* padding-top: 60px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header {
    display: flex;
    justify-content: space-between;
}

#hd_logo {
    padding: 1em;
    display:flex;
    vertical-align: bottom;
}

#hd_social {
    display:flex;
    justify-content: right;
    padding-top: 2em;
    padding-right: 2em;
}

#hd_social img {
    width: 32px;
    height: 32px;
    padding: 1em;
}

#nav {
    border-top: 2px solid #e63946;
    border-bottom: 2px solid #e63946;
    padding-top: 3px;
    border-top-style: groove;
    border-bottom-style: groove;

}

#nav_main {
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

#nav_main a {
    color: #014076;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#nav_main a:visited {
    color: #014076;
}

#nav_main li {
    text-transform: uppercase;
}

/* .active-page {
    background-color: #e63946;
    color:#F1FAEE;
    font-size: 1.2em;
} */

#content {
    width: 1100px;
    margin: 0 auto;
    /* padding-left: 50px; */
}

.content-header-img {
    display:block;
    width: 50%;
    height: 50%;
    padding-top: 2em;
    padding-bottom: 2.5em;
    padding-left: 0;
    margin: 0 auto;
}

h1 {
    text-align: center;
    /* padding-top: 2em;
    padding-bottom: 2em; */
    font-family: 'Merienda', cursive, 'Roboto', sans-serif;
    color: #F1FAEE;
    background-color: #e63946;
    /* width:max-content; */
    margin: 0 auto;
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

#content div {
    /* width: 1050px; */
    padding-left: 3em;
    padding-right: 8em;
}

p {
    padding-left: 4em;
    font-weight: 400;
}

.scripture {
    display: block;
    width: 600px;
    margin: 0 auto;
    font-style: italic;
    font-weight: 700;
    text-align: center;
}

.scrip_emphasis {
    color: #e63946;
    text-transform: uppercase;
}

#scrip-ref {
    padding-top: 4em;
}

#footer {
    width: 600px;
    margin: 0 auto;
    padding-top: 3em;
}

.footer-img-logo {
    display: block;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#copyright {
    text-align: center;
    font-style: italic;
    padding-top: 1em;
}

/** Form Styling **/

p.form-head {
    text-align: center;
    padding-left: 0;
}

form {
    width: 1024px;
    /* margin: 0 auto; */
    padding-top: 30px;
}

fieldset {
    width: 600px;
    margin: 0 auto;
    /* border-end-end-radius: 10px;
    border-start-start-radius: 10px; */
}

legend {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.frm-lbl {
    font-weight: 700;
}

.frm-field {
    padding-top: 20px;
}

.newsletter {
    font-weight: 400;
    font-size: small;
}

#frm-sub-bttn {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

/* * * * Form Styling End * * * */
.scrip a {
    color:rgb(0, 4, 255);
    text-decoration: none;
}
.scrip a:visited {
    color:rgb(0, 4, 255);;
    text-decoration: none;
}
